*, *::after, *::before {
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color:#89E894;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}
.clock{
	background-color:#E7E7E7;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	border: 2px solid black;
	position: relative;
}
.clock .number{
	--rotation:0;
	height: 100%;
	width:100%;
	position: absolute;
	text-align: center;
	transform: rotate(var(--rotation));
	font-size: 1.5rem;
}
.clock .number1{--rotation:30deg;}
.clock .number2{--rotation:60deg;}
.clock .number3{--rotation:90deg;}
.clock .number4{--rotation:120deg;}
.clock .number5{--rotation:150deg;}
.clock .number6{--rotation:180deg;}
.clock .number7{--rotation:210deg;}
.clock .number8{--rotation:240deg;}
.clock .number9{--rotation:270deg;}
.clock .number10{--rotation:300deg;}
.clock .number11{--rotation:330deg;}


.clock .hand{
	--rotation:0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	background-color: black;
	transform-origin: bottom;
	border:1px solid white;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 10;
	transform: translateX(-50%)rotate(calc(var(--rotation)*1deg));
}
.clock::after {
	content:'';
	position: absolute;
	background-color: black;
	z-index: 11;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	
}
.clock .hand.second{
	height: 45%;
	width:3px;
	background-color:red;
}
.clock .hand.minute{
	height: 40%;
	width:8px;
	background-color:black;
}
.clock .hand.hour{
	height: 35%;
	width:10px;
	background-color:black;
}
